  #menu li {
  display:inline-block;
  color:  #182945;
  padding: 9px 18px;
/*  -webkit-border-radius: 10px;
            border-radius: 10px;*/
  }
  #menu li.active{
  	background-color: #f9f9f9;
  }
  #menu li a{
  	text-decoration:none;
  	color: #000;
    opacity: 1;
  }

  #menu li.active a{
  	display:block;
    color: #182945;
    opacity:1;
  }

  #menu{
    background-color: #182945;
    position: fixed;
    margin-top: 10px;
    z-index: 70;
    width:100%;
    text-align: center;
    opacity: 0.5;
  }

ul
{
  margin: 0px;
}